.x-form-invalid-msgDetail
{
  width:auto;
  height:18px;
  position:absolute;
  top:0;
  display:block;
  background:transparent url(../../../../extjs/ext/3.0.3/resources/images/default/form/exclamation.gif) no-repeat 0 2px;
  color:#e00;
  font:normal 11px tahoma,arial,helvetica,sans-serif;
  padding-left: 20px;
  padding-top: 2px;
}

.x-form-invalid-msgDetail-noIcon
{
  width:auto;
  height:18px;
  position:absolute;
  top:0;
  display:block;
  color:#e00;
  font:normal 11px tahoma,arial,helvetica,sans-serif;
  padding-left: 0px;
  padding-top: 2px;
}

.x-form-invalid-msgDetail-more
{
  color:#e00;
  font:normal 11px tahoma,arial,helvetica,sans-serif;
  background:transparent url(../../../../extjs/ext/3.0.3/resources/images/default/menu/menu-parent.gif) no-repeat 0 2px;
  position: absolute;
  left:120;
  top:2pt;
  cursor:pointer;
}

.uradix-statuserror
{
  background-color: #ffdbff; 
  border: 1px solid #c06;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  color: #093;
  padding: 10px 5px 10px 10px;
  display:none;
}

.uradix-statuserror-msg
{
  color: #c06;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

.uradix-statussuccess
{
  background-color: #efffff; 
  border: 1px solid #093;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  color: #093;
  padding: 10px 5px 10px 10px;
  display:none;
}

.uradix-statussuccess-msg
{
  color: #093;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

.uradix-statuswarn
{
  background-color: #ffc; 
  border: 1px solid #960;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  color: #960;
  padding: 10px 5px 10px 10px;
  display:none;
}

.uradix-statuswarn-msg
{
  color: #960;
  font-family:"trebuchet ms",monospace;
  font-size:18px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

.uradix-field-required
{
  font-weight:bold;
  padding:0px;
  margin:0px;
}

.uradix-statusmsg-headline
{
  color:#000000;
  font:bold 11px tahoma,arial,helvetica,sans-serif;
}

.uradix-statusmsg
{
  color:#111111;
  font:normal 11px tahoma,arial,helvetica,sans-serif;
}

.uradix-form-invalid-details-icon
{
  background:url("../images/icons/help.png") no-repeat scroll 0 2px transparent;
  display:block;
  height:18px;
  left:0;
  position:absolute;
  top:0;
  visibility:hidden;
  width:16px;
}

.uradix-form-invalid-icon-under
{
  background:url("../images/icons/exclamation.gif") no-repeat scroll 0 2px transparent;
  height:18px;
  width:16px;  
  color: #C0272B;
  font: 14px tahoma,arial,helvetica,sans-serif;
}

.uradix-form-invalid-details-icon-under
{
  background:url("../images/icons/help.png") no-repeat scroll 0 2px transparent;
  height:18px;
  width:16px;
  font: 14px tahoma,arial,helvetica,sans-serif;
}

.uradix-form-help-details-icon
{
  background:url("../images/icons/help.png") no-repeat scroll 0 2px transparent;
  display:block;
  height:18px;
  left:0;
  position:relative;
  top:0;
  visibility:hidden;
  width:16px;  
}

.uradix-form-info-details-icon
{
  background:url("../images/icons/info.png") no-repeat scroll 0 2px transparent;
  display:block;
  height:23px;
  left:0;
  position:relative;
  top:0;
  visibility:hidden;
  width:22px;
}

.uradix-warning-icon
{
  background:url("../images/icons/warning.gif") no-repeat scroll 0 2px transparent;
  display:block;
  height:32px;
  left:0;
  position:relative;
  top:0;
  visibility:hidden;
  width:28px;
  visibility:visible;
}

.uradix-success-icon
{
  background:url("../images/icons/success.gif") no-repeat scroll 0 2px transparent;
  display:block;
  height:32px;
  left:0;
  position:relative;
  top:0;
  visibility:hidden;
  width:28px;
  visibility:visible;
}

.uradix-error-icon
{
  background:url("../images/icons/error.gif") no-repeat scroll 0 2px transparent;
  display:block;
  height:32px;
  left:0;
  position:relative;
  top:0;
  visibility:hidden;
  width:28px;
  visibility:visible;
}

ul.ulCls {margin-left: 30px;}
ul.ulCls li {list-style-type: disc;}