.claimsAddedCount{
    border:1px solid #cccccc;
    border-top: 0px;
    padding:3px;
	color: #000000;
	font: 12px tahoma, arial, verdana, sans-serif;
    text-align: center;
	background-color: #EBEBEB;
	background: #EBEBEB;
    float:right;
}

.floatRight{
    float:right;
    text-align:right;
}

 .claimSearchSeparator {
     padding-top:110px;
     text-align:center;
 }

.claimResultsSeparator {
    border-bottom: 2px solid #cccccc;
    padding-left: 5px;
    padding-right: 15px;
}

.back-to-results-icon {
	background: url("../img/back_to_results.gif") 0 0px no-repeat !important;
	width:131px;
	height:32px;
	display:block;
}

.addClaimButton {
	background: url(../img/btn_add.claim.gif) 0 0px no-repeat !important;
	width:102px;
	height:28px;
	display:block;
}

.addClaimsButton {
	background: url(../img/btn_add.claims.gif) 0 0px no-repeat !important;
	width:102px;
	height:28px;
	display:block;
}

.deleteClaimsButton {
	background: url(../img/btn_delete.claims.gif) 0 0px no-repeat !important;
	width:128px;
	height:28px;
	display:block;
}

.findMoreClaimsButton {
	background: url(../img/btn_find..more.claims.gif) 0 0px no-repeat !important;
	width:148px;
	height:28px;
	display:block;
}

.findClaimButton {
	background: url(../img/btn_find.claim.gif) 0 0px no-repeat !important;
	width:114px;
	height:28px;
	display:block;
}

.findClaimsButton {
	background: url(../img/btn_find.claims.gif) 0 0px no-repeat !important;
	width:114px;
	height:28px;
	display:block;
}

.table { border : 0pt solid black;  padding:3px;}
.tableLeft { float : left; width : 31%; padding:2px;}
.tableRight { float : right; width : 67%; padding:2px;}
.tableLabel {color:#000000; font: 11px tahoma,arial,verdana,sans-serif; white-space: nowrap;}
.tableData {color:#000000; font: bold 11px tahoma,arial,verdana,sans-serif;}
.tableContent {color:#000000; font: 11px tahoma,arial,verdana,sans-serif;}
.spacer { clear : both; }